* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: inherit;
}

body {
  background-color: white;
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5;
}

h1 {
  text-align: center;
  padding: 24px 0;
  background-color: #ffa530;
  margin-bottom: 24px;
}

p,
li {
  font-size: 17px;
}

.links li,
.home-link a {
  padding: 8px 16px;
  background-color: #ffa50040;
  text-align: center;
  border-radius: 5%;
  font-size: 18px;
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

.img {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

h2,
p,
ul,
ol {
  margin: 18px 0;
  padding: 0 36px;
}

ul,
ol {
  margin-left: 30px;
}

li {
  padding-left: 12px;
  margin: 10px 0;
}

.home-link {
  display: flex;
  justify-content: flex-end;
  margin: 0 36px 10px 0;
}
